<fmg-agent-layout fxLayout="column" fxLayoutGap="10px">
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-title>{{'Buying a House' | uppercase}}</mat-card-title>
      <mat-card-subtitle>
        From financing to closing and the many steps in between
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-title>{{'Buying a House' | uppercase}}</mat-card-title>
      <mat-card-subtitle>
        From financing to closing and the many steps in between
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-title>{{'Buying a House' | uppercase}}</mat-card-title>
      <mat-card-subtitle>
        From financing to closing and the many steps in between
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-title>{{'Buying a House' | uppercase}}</mat-card-title>
      <mat-card-subtitle>
        From financing to closing and the many steps in between
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-title>{{'Buying a House' | uppercase}}</mat-card-title>
      <mat-card-subtitle>
        From financing to closing and the many steps in between
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-title>{{'Buying a House' | uppercase}}</mat-card-title>
      <mat-card-subtitle>
        From financing to closing and the many steps in between
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-title>{{'Buying a House' | uppercase}}</mat-card-title>
      <mat-card-subtitle>
        From financing to closing and the many steps in between
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</fmg-agent-layout>
