<mat-card class="leadFormCard">
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title>
      <div class="congratsBubble">
        <div class="congratsText">Congratulations!</div>
        <p>
          You have just left the land of unwanted ads and unreliable
          information.
        </p>
        <p>Now, let's get started.</p>
      </div>
      <p>What kind of house are you looking for?</p>
      <p>Let me find it for you!</p>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="-10px">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input required formControlName="name" matInput />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Phone</mat-label>
        <input
          [value]="form.get('phone')?.value | phone: 'US'"
          required
          formControlName="phone"
          matInput
        />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Maximum Price</mat-label>
        <input type="number" formControlName="maxPrice" matInput />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Minimum Bedrooms</mat-label>
        <input type="number" formControlName="minBedrooms" matInput />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Minimum Bathrooms</mat-label>
        <input type="number" formControlName="minBathrooms" matInput />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Minimum Garage Spaces</mat-label>
        <input type="number" formControlName="minGarageSpaces" matInput />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Minimum Square Footage</mat-label>
        <input type="number" formControlName="minSquareFootage" matInput />
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Additional Information</mat-label>
        <textarea formControlName="additionalInfo" matInput></textarea>
      </mat-form-field>

      <re-captcha
        id="recaptcha"
        *ngIf="!isSubmitted"
        siteKey="6LfX9gcaAAAAAKG_2NLTbhMjVFGWTg7w2kIrH4U0"
        formControlName="recaptcha"
      ></re-captcha>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      (click)="onSubmit()"
      [disabled]="!form.valid || isSubmitted"
      mat-button
    >
      Submit
    </button>
  </mat-card-actions>

  <mat-card-footer>
    <mat-progress-bar
      *ngIf="isLoading$ | async"
      mode="indeterminate"
      color="accent"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
