<fmg-agent-layout fxLayout="column" fxLayoutGap="10px">
  <mat-card routerLink="search">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/search-house.png" />
      <mat-card-title>START SEARCHING</mat-card-title>
      <mat-card-subtitle>
        Start your search today by submitting your home search criteria
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card routerLink="buy">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/buy-house.png" />
      <mat-card-title>BUYING A HOUSE</mat-card-title>
      <mat-card-subtitle>
        From financing to closing and the many steps in between
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card routerLink="sell">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/sell-house.png" />
      <mat-card-title>SELLING A HOUSE</mat-card-title>
      <mat-card-subtitle>
        From strategic marketing, to exclusive pricing and negotiation
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card routerLink="valuate">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/home-valuation.png" />
      <mat-card-title>HOME VALUATION</mat-card-title>
      <mat-card-subtitle>
        Get a free valuation on your current home and a neighborhood report
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header routerLink="market">
      <img mat-card-avatar src="assets/images/market-data.png" />
      <mat-card-title>MARKET DATA</mat-card-title>
      <mat-card-subtitle>
        Stay up to date on trends and news for KC and beyond
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card routerLink="bio">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/agent-profile.png" />
      <mat-card-title>TESTIMONIALS AND HISTORY</mat-card-title>
      <mat-card-subtitle>
        My bio and a telling list of testimonials from past clients
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card routerLink="archive">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/video-archive.png" />
      <mat-card-title>VIDEO ARCHIVE</mat-card-title>
      <mat-card-subtitle>
        Navigate through our growing list of informational real estate videos
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</fmg-agent-layout>
