@import 'variables';

footer {
  padding: $space-md;
  background-color: white;
  border-top: 5px solid $primary-color;
}

span {
  text-align: center;
  max-width: 200px;
}

img {
  height: 50px;
  width: 200px;
}
