.articleAvatar {
  background-size: cover;
  height: 45px;
  width: 45px;
}

.articleTitleField {
  margin-bottom: -25px;
  margin-top: -27px;
}

.articleBodyField {
  margin-bottom: -25px !important;
}
